# infrastructure
KEYCLOAK_ADMIN_USERNAME=changeme
KEYCLOAK_ADMIN_PASSWORD=changeme
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_DB=changeme
MEILI_KEY=changeme
RABBITMQ_USER=changeme
RABBITMQ_PASSWORD=changeme
# web
VITE_API_BASE_URL=http://localhost:8000
VITE_KEYCLOAK_AUTHORITY=http://localhost:8080/realms/agora
VITE_KEYCLOAK_CLIENT_ID=agoraweb
